# ======================
# Java
# ======================
*.class
*.log

# ======================
# Maven
# ======================
target/
*.jar
*.war
*.ear

# ======================
# IDEs
# ======================
.idea/
.vscode/
*.iml

# Eclipse
.project
.classpath
.settings/

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# Logs
# ======================
logs/
*.log

# ======================
# Environment / Secrets
# ======================
.env
application-local.properties

# ======================
# Docker
# ======================
*.pid

# ======================
# Temporary files
# ======================
tmp/
*.tmp
RoughtWork.md